/* style 1*/

div { border-collapse: 2px solid ; width: 500px; margin:5px}
.color1 {background-color:aqua ;}
.color2 { background-color: rgb(127, 255, 240);}
.color3 { background-color: rgb(149, 241, 200);}




